*{
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #071C4D;
}

/* Navbar */
.navbar-brand {
  font-weight: bold;
  font-size: 30px;
}

.btn-login {
  background-color: #071C4D;
  color: #FFFFFF;
}

.btn-login:hover {
  background-color: #2c4d9b;
  color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
  color: #071C4D;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071C4D !important;
}

/* Header */
header {
  padding: 30vh 0 20vh 0;
  margin-top: -80px !important;
  background-image: url("../images/img_hero.jpg");
  background-size: cover;
}

header h1, header p {
  color: #FFFFFF;
}

header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 24px;
}

header .btn-get-started {
  background-color: #F87C1D;
  color: #FFFFFF;
}

header .btn-get-started:hover {
  background-color: #FF9E53;
  color: #FFFFFF;
}

/* Footer */
.section-footer a {
  color: #071C4D;
}

.section-footer p {
  font-weight: bold;
}

/* Section Stats */
.section-stats {
  margin-top: -56px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #FFFFFF;
  padding-left: 60px;
}

.section-stats .stats-detail .stats-detail-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
  color: #071C4D;
}

.section-stats .stats-detail p {
  font-size: 20px;
  font-weight: 300;
}

/* Section Popular Heading */
.section-popular {
  background-color: #051334;
  min-height: 480px;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-popular h2, .section-popular p {
  color: #FFFFFF;
}

.section-popular h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.section-popular p {
  font-size: 18px;
}

/* Section Popular Content */
.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  max-height: 500px;
  background-color: #DDDDDD;
  color: #FFFFFF;
  background-size: cover;
  margin-bottom: 30px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #FFFFFF;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: #FFFFFF;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #F87C1D;
  color: #FFFFFF;
  margin-top: 200px;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #FF9E53;
}

/* Section Network */
.section-networks {
  background-color: #FFFFFF;
  margin-top: 100px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.section-networks p {
  font-size: 14px;
}

.section-networks img {
  max-width: 100%;
}

/* Section Testimonial Heading */
.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F7F9FF));
  background: linear-gradient(#FFFFFF 0%, #F7F9FF 100%);
  padding-top: 50px;
  min-height: 500px;
}

.section-testimonial-heading h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

/* Section Testimonial Content */
.section-testimonial-content {
  margin-top: -300px;
  margin-bottom: 150px;
  padding-top: 20px;
}

.section-testimonial-content img {
  width: 120px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .testimonial {
  font-weight: 200;
  font-size: 26px;
  color: #6E6E6E;
  min-height: 160px;
  max-height: 250px;
}

.section-testimonial-content .trip-top {
  font-weight: normal;
  font-size: 22px;
  color: #6E6E6E;
}

.section-testimonial-content hr {
  margin-left: -20px;
  margin-right: -20px;
}

.btn-need-help {
  background-color: #F2F2F2;
  color: #C3C3C3;
}

.btn-need-help:hover {
  background-color: #FAFAFA;
  color: #071C4D;
}

.btn-get-started {
  background-color: #F87C1D;
  color: #FFFFFF;
}

.btn-get-started:hover {
  background-color: #FF9E53;
  color: #FFFFFF;
}


/* ----- Detail ----- */

/*  Section Details Header */
.section-details-header {
  min-height: 310px;
  background: #E4E6EB;
  margin-top: -75px;
}

/*  Section Details Content */
.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071C4D;
}

/* Card Details */
.card-details {
  padding: 30px;
  border-radius: 11px;
}

.card-details h1 {
  font-size: 26px;
}

.card-details h2 {
  font-size: 20px;
}

.card-details h3 {
  font-weight: 600;
  font-size: 14px;
  color: #071C4D;
}

.card-details p {
  font-size: 18px;
  color: #B1B1B1;
}

.card-details .trip-information {
  font-weight: 400;
  font-size: 18px;
  color: #071C4D;
}

.card-details .trip-information .text-right {
  font-weight: 300;
  font-size: 18px;
  color: #B1B1B1;
}

.card-details .trip-information .text-blue {
  color: #071C4D;
  font-weight: bold;
}

.card-details .trip-information .text-orange {
  color: #F87C1D;
  font-weight: bold;
}

.card-details .payment-instruction {
  font-weight: 300;
  size: 14px;
  color: #B1B1B1;
}

.card-details .bank .bank-item h3 {
  size: 18px;
  color: #071C4D;
  margin-bottom: 0;
}

.card-details .bank .bank-item p {
  margin-bottom: 0;
}

.card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #071C4D;
}

.card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}

.card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.card-details .gj-datepicker .input-group-append {
  padding-right: 30px;
}

.card-details .btn-add-now {
  width: 100%;
  background-color: #071C4D;
  color: #FFFFFF;
}

.card-details .btn-add-now:hover {
  background-color: #2c4d9b;
  color: #FFFFFF;
}

/* Features */
.features {
  margin-top: 20px;
}

.features h3 {
  font-size: 18px;
  color: #071C4D;
  margin-bottom: 0;
}

.features p {
  margin-bottom: 0;
}

.features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

/* Member */
.member .member-image {
  width: 50px;
  height: 50px;
}

/* Join */
.join-container {
  margin-top: -16px;
}

.btn-join-now {
  background-color: #F87C1D;
  color: #FFFFFF;
  width: 100%;
}

.btn-join-now:hover {
  background-color: #FF9E53;
  color: #FFFFFF;
}


/* ----- Success ----- */

/* Section Success */
.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  size: 26px;
  color: #071C4D;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #B1B1B1;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #071C4D;
  color: #FFFFFF;
}

.section-success .btn-home-page:hover {
  background-color: #2c4d9b;
  color: #FFFFFF;
}