/* ----- Success ----- */

/* Section Success */
.section-success {
    height: 90vh;
}

.section-success h1 {
    font-weight: 600;
    size: 26px;
    color: #071C4D;
}

.section-success p {
    font-weight: 300;
    font-size: 18px;
    color: #B1B1B1;
}

.section-success .btn-home-page {
    border-radius: 4px;
    background-color: #071C4D;
    color: #FFFFFF;
}

.section-success .btn-home-page:hover {
    background-color: #2c4d9b;
    color: #FFFFFF;
}
    